@charset "UTF-8";
.about_box {
  position: relative;
  top: 340px;
  padding: 0 40px;
  font-size: 1.2rem;
  letter-spacing: 0.02em;
  line-height: 3.5em;
}

.about_jp {
  padding: 70px 0;
}

.map {
  width: 100%;
  padding: 100px 0 50px;
}

.about_en {
  display: none;
}

.access {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 2em;
  padding: 20px 0 10px;
}

.map_txt {
  font-size: 1.2rem;
  letter-spacing: 0.02em;
  line-height: 2.2em;
  padding: 0 0 20px;
}

.txt {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 2em;
  padding: 5px 5px 0;
}

.date {
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  line-height: 2em;
  padding: 0 5px;
}



@media screen and (max-width: 1024px) {
 
  .about_box {
    position: relative;
    top: 180px;
    padding: 0 20px;
    font-size: 1.2rem;
    letter-spacing: 0.02em;
    line-height: 2.5em;
  }

  .about_jp {
    padding: 20px 0;
  }

  .about_jp p:first-child {
    padding-bottom: 0;
  }
  .about_jp br {
    display: none;
  }

  .about_en {
    display: block;
  }
  .map {
    width: 100%;
    padding: 40px 0 50px;
  }

  .map_txt {
    font-size: 1.2rem;
    letter-spacing: 0.02em;
    line-height: 2em;
    padding: 0 0 20px;
  }


}



@media screen and (max-width: 640px) {

  .about_box {
    position: relative;
    top: 150px;
    padding: 0 15px;
  }

  .about_jp {
    padding: 20px 0;
  }

  .map {
    width: 100%;
    padding: 20px 0 50px;
  }

  .map iframe {
    height: 300px;
  }

}




